@model AdminViewModel
@{ 
    Layout = "~/Views/Admin/_AdminPageLayout.cshtml"; 
}

@Html.Partial("~/Views/Admin/Partials/_HiddenFields.cshtml", Model)

<div id="main-container-div" class="container bg-gradient-light text-center mx-auto my-auto" style="width:98%;height:auto">


    

</div>
