@model LoginViewModel

@{ Layout = "~/Views/Admin/_AdminPageLayout.cshtml"; }

<div id="main-container-div" class="container bg-gradient-light text-center mx-auto my-auto">

    <div id="login-div" class="container text-center mx-auto my-auto">
        @using (Html.BeginForm("Login", "Admin", FormMethod.Post, new { @class = "form", role = "form" }))
        {
            <div class="row">
                <h3 class="col-10 col-offset-2">
                    Please Enter Your 4 Digit Pin To Login
                </h3>
                <hr />
            </div>
            <div class="row">
                <div class="form-group">
                    @Html.Label("Pin Number:", new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.UserId, new { @class = "form-control", @style = "width:200px;" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Login" class="btn btn-default" />
                    </div>
                </div>
            </div>    
            if(Model.IsError == true)
            {
                <div class="row">
                    <h3 class="text-red">
                        Model.ErrorMessage
                    </h3>
                </div>
            }
           
        }
    </div>
</div>
